body {
    background: #eff2ff;
    color: white;
}

.desc-content {
    background-color: #eff2ff;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center; /* Align text centrally */
}


.desc-content h1 {
    font-size: 50px;
    margin-bottom: 10px; /* Space between h1 and p */
    font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.desc-content p {
    font-size: 25px;
    margin-bottom: 20px; /* Space between p and button */
}

.content-wrapper {
    display: flex;
}

.homepage-images {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resort-image {
    width: 80%;
    min-width: 250px;
    max-width: 500px;
}

.text-wrapper {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.text-wrapper h1, .text-wrapper p {
    color: #0605a6;
}

.redirect-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center buttons */
    margin-top: 20px;
}

.redirect-button {
    margin: 10px;
    flex: 0 1 calc(45% - 20px);
    text-align: left;
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    border: 4px solid transparent;
    border-radius: 30px;
    padding: 10px;
    font-weight: 900;
    transition: background-color 0.25s;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #0605a6;
}

.redirect-button .icon {
    background-color: #fff;
    color: #0605a6;
    border-radius: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 80px !important;
    height: 80px !important;
    font-size: 55px;
}

.redirect-button:hover {
    background-color: #0200ff;
    color: white;
    border: 5px solid white;
}

.redirect-button:hover .icon {
    background-color: white;
    color: #0200ff;
}

@media only screen and (min-width: 992px) {
    .desc-content {
        display: flex;
        height: calc(100vh - 126.4px);
    }
}


/* Responsive Design */
@media only screen and (max-width: 991px) {
    .desc-content {
        padding: 0;
    }

    .content-wrapper {
        padding: 20px;
    }

    .text-wrapper {
        margin-top: 20px;
        text-align: center;
    }

    .redirect-button {
        font-size: 18px;
        padding: 8px;
        flex: 0 1 calc(90% - 20px);
    }
}

@media only screen and (max-width: 576px) {
    .content-wrapper {
        flex-direction: column;
    }


    .text-wrapper {
        margin-top: 0;
        padding: 10px;
    }
}
