



/* @media only screen and (max-width: 767px) {
  body {
    align-items: flex-end;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    align-items: flex-end;
  }
  
} */



body {
  background-image: url('../img/login-bg.png');
  background-position: center;
  background-size:cover;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  position: relative;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 10px;
}

.login-form::before {
  content: '';
  position: absolute;
  background-color:#034868;
}

/* .login-form .field {
  padding-right: 2.2em;
} */


h1 {
  font-size: clamp(20px, 2vw ,30px); 
  margin-inline: auto;
  padding-inline: 10%;
  color: #FFFFFF; 
  text-align: center; /* Center align heading if desired */
}

.logo {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)); 
  width: clamp(140px, 28vh, 200px);
}

.username-field, .password-field {
  position: relative;
}



.username-field label,
.password-field label {
  text-align: left;
  margin-left: -5px;
  display: block; 
  margin-bottom: 8px;
  color: #FFFFFF; /* Change color as per your design */
  padding: 0 5px; 
  font-weight: normal; 
}


.username-field + .password-field {
  margin-top: 10px;
}

.username,
.password {
  height: 50px;
  border-radius: 0.2em;
}


.username, .password, .submit-btn {
  font-size: 18px;
  padding: 0.5em 0.8em;
  border: none;
  width: 100%;
}

.submit-btn {
  background-color: #0200ff;
  color: white;
  font-size: 22px;
  border-radius: 0.2em;
  margin-top: 25px;
  height: 55px;
  padding: 10px 0;
  border-radius: 2.4em;
  transition: background-color 0.2s;
}

.forgot-redirect {
  display: inline-block;
  color: white;
  font-size: 17px;
  margin-top: 10px;
}



/* .login-form {
  width: 40%;
  text-align: center;
  flex: 1;
  height: 100%;
  position: relative;
  padding: 10px;
  background: rgba(3, 72, 104, 0.4); /* Adjust alpha (0.8) for transparency
} */


dialog {
  text-align: center;
  color: #3D7080;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 70%;
  height: 30%;
  max-width: 400px;
  min-height: 200px;
  border-radius: 30px;
}
/* 
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Spotify Medium';
} */

.exit {
  color: #3D7080;
  cursor: pointer;
  font-family: 'Spotify Bold';
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 5px;
}

.exit:focus {
  outline-color: #F4D248;
}

@media only screen and (min-width: 992px) { 
  body {
     justify-content: flex-end;
   }

   h1 {
    padding-block: 5%;
  }
 
   .login-form {
     box-shadow: -5px 0 20px rgba(0, 0, 0, 0.4);
     justify-content: center;
     background: rgba(3, 72, 104, 0.4); /* Adjust alpha (0.8) for transparency */
     width: 45%;
   }

  .username-field,
  .password-field, .login {
    width: 55%;
    margin-inline: auto;
    margin-bottom: 10px; /* Space between input fields */
  }
 }
 
 
 
 @media only screen and (max-width: 991px) {
   body {
     position: relative;
     justify-content: center;
     align-items: center;
     background: linear-gradient(rgba(3, 72, 104, 0.4), rgba(3, 72, 104, 0.4)), url('../img/login-bg.png');
     background-size: cover;
     background-position: center;
    }
 
    h1 {
      padding-block: 10px;
    }

    .username-field,
    .password-field, .login {
      width: 80%;
      margin-inline: auto;
      margin-bottom: 10px; /* Space between input fields */
    }

   .login-form::before { 
     z-index: -4;
   }
   
   .submit-btn:active{
     background-color: #F4CB26;
     color: #EFF1EF;
   }
 
   .login-form {
      padding: 20px; /* Add padding for better spacing */
  }
 
   .logo {
       margin-bottom: 20px; /* Space below the logo */
   }
 
   h1 {
       margin-bottom: 15px; /* Space below the heading */
   }
 
   .username, .password, .submit-btn {
       width: 100%; /* Inputs and button take full width */
       max-width: none; /* Remove max-width constraint */
   }
 }