/*
    Component: Sidebar
--------------------------
*/

/* Remove shadow from form */
.sidebar .sidebar-form input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent !important;
}

/* Sidebar menu */
.sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li {
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}

.sidebar .sidebar-menu > li > a > .fa,
.sidebar .sidebar-menu > li > a > .glyphicon,
.sidebar .sidebar-menu > li > a > .ion {
    width: 20px;
}

/* Tree view menu */
.sidebar .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .treeview-menu > li {
    margin: 0;
}

.sidebar .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 20px;
    margin: 0px 0px;
}

.sidebar .treeview-menu > li > a > .fa,
.sidebar .treeview-menu > li > a > .glyphicon,
.sidebar .treeview-menu > li > a > .ion {
    width: 20px;
}

.logo {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 45px;
}

/* Sidebar User Panel Styling */



.user-panel {
    position: relative; /* Establishes a positioning context */
}

.user-panel::before {
    content: '';
    background-color: #0605a6;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    position:absolute;
}

.user-panel .down{
    background-color: #0605a6 ;
}

.user-details {
    display: flex;
    height: 130px;
    padding: 10px 0; /* Adjust padding as needed */
    padding-top: 40px;
    padding-left: 10px;
}

.user-group {
    display: flex;
    align-items: flex-end;
    z-index: 1;
    margin-bottom: -16px;
}

.user-role {
    font-size: 14px;
    color: #fff !important;
}

.role {
    font-style: italic;
    font-size: 12px;
    color: #fff !important;
}

.user-details i {
    background-color: transparent;
}

.circle {
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 202);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid #0605a6;
}



.user-details i.bx {
    top: 60%;   
    left: 50%;  
    transform: translate(-50%, -50%)
        scale(1.2);
    position: absolute;
    font-size: 60px; /* Adjust icon size */
    color: #0605a6;
    background-color: transparent; /* Background color for the circle */
    border-radius: 5px;
}


.user-header {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.circle-2 {
    position: relative;
    z-index: 1;
    background-color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
}

.user-header p {
    line-height: 1;
    text-align: start;
    text-shadow: none !important;
    color: #ffffff !important;
}


.user-header i{
    top: 60%;   
    left: 50%;  
    transform: translate(-50%, -50%)
        scale(1.2);
    position: absolute;
    font-size: 60px; /* Adjust icon size */
    color: #ffde59;
    background-color: transparent; 
}

/* User info styling */
.user-panel > .info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;
    padding-bottom: 10px;
}

.user-panel > .info > p {
    margin-bottom: 9px;
}

.user-panel > .info > a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 20px;
    font-weight: normal;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
    margin-right: 3px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 *  Gives us the push menu effect
 */
@media screen and (max-width: var(--screen-md)) {
    .relative {
        position: relative;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: calc(-1 * var(--left-side-width));
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: calc(-1 * var(--left-side-width));
    }

    .row-offcanvas-right.active {
        right: var(--left-side-width);
    }

    .row-offcanvas-left.active {
        left: var(--left-side-width);
    }

    .sidebar-offcanvas {
        left: 0;
    }

    body.fixed .sidebar-offcanvas {
        margin-top: 50px;
        left: calc(-1 * var(--left-side-width));
    }

    body.fixed .row-offcanvas-left.active .navbar {
        left: var(--left-side-width) !important;
        right: 0;
    }

    body.fixed .row-offcanvas-left.active .sidebar-offcanvas {
        left: 0px;
    }
}
